.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom right, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
  padding: 0.5rem;
}

.header > a {
  text-decoration: none;
  color: inherit;
}

.logo {
  display: block;
  max-width: calc(100% - 2rem);
  filter: invert();
  padding: 0.5rem;
}