.linkSubmitForm {
  font-size: 1rem;
  margin-inline: 1rem;
  margin-block: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.linkSubmitFormInput {
  flex: 1;
  max-width: min(50vw, 1000px);
}

@media screen and (max-width: 700px) {
  .linkSubmitForm {
    flex-direction: column;
  }

  .linkSubmitFormInput {
    width: auto;
    max-width: initial;
  }
}

@media screen and (max-width: 356px) {
  .linkSubmitForm {
    margin-inline: 0.5rem;
    margin-block: 1rem;
  }
}
