.mediaGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-inline: 1rem;
}

.mediaGridChild {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  gap: 1rem;
  width: min(320px, calc(50% - 1rem));
}

@media (max-width: 700px) {
  .mediaGridChild {
    width: calc(50% - 1rem);
  }
}

@media (max-width: 500px) {
  .mediaGridChild {
    width: 100%;
  }
}

@media (max-width: 356px) {
  .mediaGrid {
    margin-inline: 0.5rem;
  }
}