.modal::backdrop {
  background: hsl(0 0% 0% / 75%);
  backdrop-filter: blur(8px);
}

.modal {
  position: relative;
  padding: 0;
  border-radius: 0.5rem;
  position: fixed;
  border: 1px solid #3c3c3c;
  max-height: 95dvh;
}

.container {
  --content-height: calc(95dvh - 4.5rem);
  max-height: var(--content-height);
  padding-bottom: 4.5rem;
}

.clickable {
  cursor: pointer;
}

.unclickable {
  cursor: default;
}

.modalCloseButton {
  position: absolute;
  bottom: 1rem;
  right: 50%;
  transform: translateX(50%);
  width: 6em;
  z-index: 10;
}

@media (prefers-color-scheme: light) {
  .modal:focus {
    outline-color: var(--color-background);
  }

  .modal {
    border: none;
  }
}
